.header {
  background-color: var(--bg-light);
  padding: var(--spacing-md) var(--spacing-lg);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: var(--font-size-lg);
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logoImage {
    animation: logo-spin infinite 20s linear;
  }
}


.searchBar {
  display: flex;
}

.searchBar input[type="text"] {
  padding: var(--spacing-sm);
  border: 1px solid var(--border-color-medium);
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  width: 220px;
}

.searchBar button {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.cart {
  cursor: pointer;
}