.card {
  display: flex;
  gap: 1rem;
  padding: 1rem 2rem;
  border: 2px solid black;
  border-radius: .5rem;
}

.card__profile {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: .5rem;
}

.card__name,
.card__role {
  margin: 0;
}

.card__photo {
  width: 100px;
  border-radius: .5rem;
}